<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <%- include('./partials/head') %>
    <style>
        #content {
            white-space: pre-wrap; /* Wrap lines to fit within container */
            overflow-x: auto; 
            width: 100%; 
            padding: 10px; 
            background-color: #f8f9fa; 
            font-size: 18px;
        }
       
    </style>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container">
            <h1 class="mt-3">
                <%= blog.title %>
            </h1>
            <img src="<%= blog.coverImageUrl %>" class="img-fluid" alt="cover image"
                style="width: 100%; height: 500px;" />
            <div class="container mt-5">
                <img src="<%= blog.createdBy.profileImageUrl %>" alt="profile image"
                    style="width: 50px; height: 50px; border-radius: 50%;">
                <%= blog.createdBy.fullName %>
            </div>
            <p class="mt-5">
            <pre id="content"><%= blog.body %></pre>
            </p>
        </div>

        <div class="container mt-4">
            <h3>Comments (<%= comments.length %>)</h3>
            <hr>

            <% if(locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                            name="content"></textarea>
                        <label for="floatingTextarea">Comments</label>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
                <% } %>
                    <div class="mt-3">
                        <% comments.forEach(comment=> { %>
                            <!-- <img src="<%= comment.createdBy.profileImageUrl %>" alt="profile image" style="width: 50px; height: 50px;"> -->
                            <img src="
                            <% if (blog.createdBy.fullName === comment.createdBy.fullName) { %>
                                <%= comment.createdBy.profileImageUrl %>
                            <% } else { %>/profileImages/defaults.png<% } %>"
                                alt="profile image"
                                style="width: 50px; height: 50px; border-radius: 50%;">

                            <%= comment.createdBy.fullName %>:
                                <p><%= comment.content %></p>
                                <% }) %>
                    </div>
        </div>

        <%- include('./partials/script') %>
</body>

</html>